.app_container {
    width: 700px;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0 0 5px 2px black;
    border-radius: 5px;
}
.app_header > div {
    float: left;
    overflow: auto;
    padding: 0;
    position: absolute;
}
.app_header > h2 {
    color: white;
    background-color: rgb(29, 182, 233);
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1px 0;
}
.app_main {
    clear: both;
}
